/resources/public/js/
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.rebel_readline_history
.lein-failures
.dir-locals.el
*txt
.lsp/*
data/*json
data/deps/*json
data/deps/orgas/*json
.eastwood
todo.org
