/resources/public/js/codegouvfr.js
/resources/public/js/dev/
figwheel_server.log
.nrepl-port
.rebel_readline_history
.dir-locals.el
.lsp/*
.eastwood
*csv
resources/public/data/
.cpcache/
*org
.clj-kondo/
