/resources/public/js/
figwheel_server.log
*jar
/lib/
/classes/
/out/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.rebel_readline_history
.lein-failures
.dir-locals.el
*txt
.lsp/*
data/*json
data/*svg
data/deps/*json
data/deps/orgas/*json
images/*
.eastwood
todo.org
.cpcache/
resources/public/images/logos/
resources/public/images/charts/
.envrc
*xml
